.nav{
    display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent; 
  color: rgb(21, 145, 27); 
  padding: 10px;
}

.btn{
    background-color: #139c63;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  transition: background-color 0.3s ease;
}

.btn:hover{
    background-color: #0074D9;
}

.barra{
    border: none; 
    border-radius: 8px; 
    padding: 8px; 
    font-size: 16px;
}